.contacts {
  padding-top: 36px;
  padding-bottom: 39px;

  h2 {
    font-size: 18px;
    font-weight: 800;
    line-height: 30px;
    color: @black;
    margin-bottom: 26px;
  }

  span {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: @gray;
  }

  img {
    position: absolute;
    left: 0;
    bottom: 52px;
    margin-bottom: 39px;
  }

  picture {
    &:after {
      content: "";
      position: absolute;
      background-image: url("../img/icon-map-pin.svg");
      background-position: center;
      background-repeat: no-repeat;
      transform: translate(-50%, -50%);
      width: 66px;
      height: 100px;
      left: 49%;
      top: 59%;
    }
  }
}

.contacts__email {
  margin-bottom: 30px;

  span {
    margin-right: 25px;
  }

  a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: @gray;
    border-bottom: 1px solid #62d1ba;

    &:hover {
      color: @salad;
    }

    &:active {
      color: @salad;
      opacity: 0.3;
    }
  }
}

.contacts__adress {
  margin-bottom: 533px;
  display: flex;

  span {
    &:nth-last-of-type(1) {
      width: 150px;
    }

    &:nth-child(1) {
      margin-right: 30px;
    }
  }
}

.contacts__btn {
  padding: 14px 53px;
  max-width: 260px;
}

.contacts__wrapper {
  position: relative;
  .container();
}
@media @tablet-widths {
  .contacts {
    h2 {
      font-size: 43px;
      line-height: 50px;
      width: 100%;
    }

    span {
      font-size: 17px;
    }

    img {
      position: absolute;
      left: 0;
      bottom: 100px;
      margin-bottom: 39px;
    }
  }

  .contacts__wrapper {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      background-image: url("../img/icon-flag.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 47px;
      height: 81px;
      right: 0;
    }
  }

  .contacts__email {
    margin-right: 56px;
  }

  .contacts__adress {
    display: flex;
    width: 290px;
    margin-bottom: 602px;

    span {
      &:nth-child(1) {
        margin-right: 26px;
      }
    }
  }

  .contacts__btn {
    padding: 18px 39px 18px 38px;
    max-width: 230px;
    margin: 0 auto;
  }
}
@media @desktop-widths {
  .contacts__wrapper {
    flex-direction: column;
    position: relative;
    padding-left: 225px;

    &:before {
      left: 63px;
    }
  }

  .contacts {
    h2 {
      font-size: 43px;
      line-height: 50px;
      order: 2;
    }

    img {
      position: absolute;
      order: 1;
      left: auto;
      top: -80px;
      right: 0;
      width: 525px;
    }

    picture {
      position: relative;

      &:after {
        right: 20%;
        top: 50%;
      }
    }
  }

  .contacts__email {
    order: 3;
  }

  .contacts__adress {
    margin-bottom: 84px;
    order: 4;
  }

  .contacts__btn {
    align-self: flex-start;
    order: 6;
    margin: 0;
  }
}
