.contacts {
  padding-top: 44px;
  padding-bottom: 39px;

  h2 {
    font-size: 18px;
    font-weight: 800;
    line-height: 30px;
    color: @black;
    margin-bottom: 39px;
  }

  span {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: @gray;
  }

  iframe {
    margin-bottom: 39px;
  }
}

.contacts__email {
  margin-bottom: 39px;

  a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: @gray;
    border-bottom: 1px solid #62d1ba;
  }
}

.contacts__adress {
  margin-bottom: 43px;
}

.contacts__btn {
  padding: 12px 54px;
}
