.page-header {
  background-color: @footer-bg;
  padding: 75px 0;

  h1 {
    font-size: 27px;
    font-weight: 800;
    line-height: 30px;
    color: @black;
  }
}

.page-header__wrapper {
  .container();
}
@media @tablet-widths {
  .page-header {
    padding-left: 154px;
    padding-right: 143px;
    h1 {
      font-size: 43px;
      line-height: 50px;

    }
  }
}
@media @desktop-widths {
  .page-header {
    padding-left: 299px;
    padding-right: 297px;
    h1 {
      font-size: 53px;
      line-height: 57px;
    }
  }
}
