.pluses {
  padding: 34px 0;

  h2 {
    font-size: 25px;
    font-weight: 800;
    line-height: 30px;
    color: @black;
    margin-bottom: 88px;
  }
}

.pluses__item {
  font-size: 17px;
  font-weight: 800;
  line-height: 20px;
  color: @black;
  margin-bottom: 85px;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.pluses__wrapper {
  .container();
}
@media @tablet-widths {
  .pluses__wrapper {
    flex-direction: row;
  }
}
@media @desktop-widths {}
