.reviews {
  padding-top: 27px;
  padding-bottom: 44px;

  h2 {
    font-size: 25px;
    font-weight: 800;
    line-height: 30px;
    color: @black;
    margin-bottom: 36px;
  }
}

.reviews__name {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: @black;
  margin-bottom: 16px;
}

.reviews__insta {
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  color: @gray;
  margin-bottom: 36px;
}

.reviews__comment {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: @gray;
  margin-bottom: 38px;
}

.reviews__move {
  margin-bottom: 38px;
}

.reviews__arrow {
  font-size: 0;
}

.reviews__arrow--left {
  position: relative;
  border: 1px solid @gray-line;
  padding: 25px 64px;

  svg {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.reviews__arrow--right {
  position: relative;
  border: 1px solid @gray-line;
  padding: 25px 64px;

  svg {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.reviews__btn {
  padding: 12px 81px;
  max-width: 260px;
}

.reviews__wrapper {
  .container();
}
@media @tablet-widths {
  .reviews {
    h2 {
      font-size: 43px;
      line-height: 50px;
      order: 1;
    }
  }

  .reviews__comment {
    font-size: 17px;
    order: 3;
  }

  .reviews__name {
    width: 100%;
    order: 4;
  }

  .reviews__insta {
    order: 5;
  }

  .reviews__move {
    position: absolute;
    bottom: 80px;
    right: 0;
    order: 6;
  }

  .reviews__move {
    margin-bottom: 0;
  }

  .reviews__arrow {
    font-size: 0;
  }

  .reviews__arrow--left {
    position: relative;
    border: none;
    padding: 0 37px 0 0;

    svg {
      position: absolute;
      transform: translate(-50%,-50%);
      top: 0;
      left: 0;
    }
  }

  .reviews__arrow--right {
    position: relative;
    border: none;
    padding: 0;

    svg {
      position: absolute;
      transform: translate(-50%,-50%);
      top: 0;
      left: 0;
    }
  }

  .reviews__btn {
    position: absolute;
    right: 0;
    align-self: flex-start;
    max-width: 175px;
    padding: 14px 36px 14px 42px;
    order: 2;
  }

  .reviews__wrapper {
    position: relative;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-position: left;
    top: 0;
    @media @retina {
      background-image: url("../img/review@2x.jpg");
    }
  }
}
@media @desktop-widths {
  .reviews__wrapper {
    padding-left: 225px;
  }

  .reviews {
    h2 {
      font-size: 53px;
      line-height: 57px;
    }
    padding-bottom: 138px;
  }

  .reviews__comment {
    font-size: 17px;
  }

  .reviews__name {
    font-size: 17px;
  }
}
