.reviews {
  padding-top: 27px;
  padding-bottom: 44px;

  h2 {
    font-size: 25px;
    font-weight: 800;
    line-height: 30px;
    color: @black;
    margin-bottom: 36px;
  }
}

.reviews__name {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: @black;
  margin-bottom: 16px;
}

.reviews__insta {
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  color: @gray;
  margin-bottom: 36px;
}

.reviews__comment {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: @gray;
  margin-bottom: 38px;
}

.reviews__btn {
  padding: 12px 81px;
  max-width: 260px;
}

.reviews__wrapper {
  .container();
}
@media @tablet-widths {
  .reviews {
    h2 {
      font-size: 43px;
      line-height: 50px;
      order: 1;
    }
  }

  .reviews__comment {
    font-size: 17px;
    order: 3;
  }

  .reviews__name {
    order: 4;
  }

  .reviews__insta {
    order: 5;
  }

  .reviews__move {
    order: 6;
  }

  .reviews__btn {
    display: flex;
    align-self: flex-start;
    max-width: 175px;
    padding: 18px 36px 18px 42px;
    order: 2;
  }
}
@media @desktop-widths {
  .reviews__wrapper {
    padding-left: 225px;
  }

  .reviews {
    h2 {
      font-size: 53px;
      line-height: 57px;
    }
  }

  .reviews__comment {
    font-size: 17px;
  }

  .reviews__name {
    font-size: 17px;
  }
}
