.slogan {
  background-color: inherit;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;

  h1 {
    color: @slogan-h1;
    font-size: 27px;
    font-weight: 800;
    line-height: 30px;
  }
}
