.video {
  border: 1px solid @gray-line;
  padding: 29px 0;
  margin-bottom: 58px;

  p {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: @gray;
    margin-bottom: 29px;
  }
}

.video__header {
  margin-bottom: 27px;

  h2 {
    font-size: 17px;
    font-weight: 800;
    line-height: 24px;
    color: @black;
  }
}

.video__content {
  margin-bottom: 34px;
}

.video__btn {
  padding: 14px 24px;
}
